body {
    background-image: url('Login.jpg'); /* Replace with your custom background image */
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container h1 {
    color:#2E1503;
  }
  .container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color:#2E1503;
  }

  label, input {
    margin-bottom: 10px;
  }
  
  input {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: 1px solid #2E1503;
    border-radius: 3px;
  }
  
  button {
    padding: 10px;
    background-color: #F0E68C;
    color: #2E1503;
    border: none;
    cursor: pointer;
  }
  
  #error-msg {
    text-align: center;
    color: #ff0000;
  }
  
